*/pkg
*/src
0003-buildbox-common/buildbox-common
0004-buildstream/buildstream
0005-buildstream-plugins/buildstream-plugins
0006-buildstream-plugins-experimental/buildstream-plugins-community
0007-buildstream-plugins-container/bst-plugins-container
0009-bst-external/bst-external
*.pkg.tar.zst
*.tar.gz
